$colorBlue: 75, 116, 247;
$colorGreen: 56, 199, 119;
$colorRed: 225, 57, 57;
$colorDark: 15, 24, 54;
$colorWhite: 255, 255, 255;
$colorGray100: 243, 245, 247;
$colorGray200: 214, 212, 220;
$colorGray300: 172, 171, 181;
